<div class="fixNav">

<div class="buyerNavbar">
  <!-- /* TOP NAVBAR WHICH CONTAINS CONTACT & CUSTOM INFORMATION */ -->
  <div class="main">
    <div class="contactInfo">
      <a href="#">{{ phoneNumber }}</a>
      <a [href]="'mailto:' + email">{{ email }}</a>
    </div>
    <div class="customInfo">
      <div class="ourStores">
        <a href="#">Our Stores</a>
      </div>
      <div class="countryDropdown">
        <select name="country" id="country">
          <option value="France (EUR €)">France (EUR €)</option>
          <option value="Japan (JPY ¥)">Japan (JPY ¥)</option>
          <option value="Netherlands (EUR €)">Netherlands (EUR €)</option>
          <option value="United Kingdom (GBP £)">United Kingdom (GBP £)</option>
          <option value="United States (USD $)" selected>
            United States (USD $)
          </option>
        </select>
      </div>
      <div class="languageDropdown">
        <select name="language" id="language">
          <option value="English">English</option>
          <option value="Français">Français</option>
          <option value="日本語">日本語</option>
        </select>
      </div>
    </div>
    <div class="menu">
      <img src="./assets/logo.png" alt="Logo" />
      <a href="#"><i class="ri-menu-line"></i></a>
    </div>
  </div>

  
    <!-- /* Middle Navbar which contains Logo, SearchBar, Login/Account, Likes/Favourites, Cart, Etc. */ -->

    <div class="middle">
      <div class="logo">
        <img src="./assets/logo.png" alt="LOGO" />
      </div>
      <div class="searchBar">
        <a href="#"><i class="ri-search-line"></i></a>
        <input
          type="text"
          name="search"
          id="search"
          placeholder="I am looking for....."
        />
        <button onclick="window.alert('Search Working')">Search</button>
      </div>
      <div class="userOption">
        <div class="user">
          <a routerLink="login"><i class="ri-user-line"></i></a>
          <div class="userDetails">
            <p id="userText">Login</p>
            <p id="userAmount">Account</p>
          </div>
        </div>
        <div class="favourite">
          <a href="#"><i class="ri-heart-line"></i></a>
        </div>
        <div class="cart">
          <div class="cartIcon">
            <p id="cartCount" *ngIf="showCount">{{cartCount}}</p>
          </div>
          <a routerLink="cartListing"><i class="ri-shopping-cart-line"></i></a>
          <div class="cartDetails">
            <p id="cartText">cart</p>
            <p id="cartAmount">$0.00</p>
          </div>
        </div>
        <div class="logout">
          <a (click)="logout()"
            ><i class="fa-solid fa-arrow-right-from-bracket"></i
          ></a>
        </div>
      </div>
    </div>

    <!-- Lower Navbar Contains menus & categories -->

    <div class="bottomNav">
      <div class="categoriesDropdown">
        <a (click)="showCategory()" id="allCategories"
          ><i class="ri-menu-line"></i> All Categories
          <i class="ri-arrow-down-s-line"></i
        ></a>
        <ul class="categories" *ngIf="displayCategory">
          <li><a routerLink="productList">Groceries</a></li>
          <li><a routerLink="productList">Bakery</a></li>
          <li><a routerLink="productList">Dairy</a></li>
          <li><a routerLink="productList">Beverages</a></li>
          <li><a routerLink="productList">Snacks</a></li>
          <li><a routerLink="productList">Condiments</a></li>
          <li><a routerLink="productList">Cereals</a></li>
          <li><a routerLink="productList">Detergents</a></li>
          <li><a routerLink="productList">Frozen</a></li>
          <li><a routerLink="productList">Personal Care</a></li>
          <li><a routerLink="productList">Baby Products</a></li>
        </ul>
      </div>

      <div class="menuPages">
        <ul class="pages">
          <li><a routerLink="">Home</a></li>
          <li><a (click)="scrollTO()">Offers</a></li>
          <li><a (click)="scrollTO()">Stores</a></li>
          <li><a (click)="scrollTO()">About Us</a></li>
          <li><a (click)="scrollTO()">Contact Us</a></li>
          <li><a (click)="scrollTO()">Career</a></li>
        </ul>
      </div>

      <div class="recentView">
        <a href="#">
          <i class="ri-history-line"></i>
          Recent Viewed Products
        </a>
      </div>
    </div>
  </div>
</div>
