<div class="productList">
    <div class="productListHeader">
        <h2>List of Products</h2>
    </div>
    <hr>
    <div class="productListContent">
        <div class="productListItems" *ngFor="let item of productList">
            <div class="discount" *ngIf="item.discount">- {{item.discount}}%</div>
            <div class="actions">
                <a (click)="addFavourite()"><i class="fa-regular fa-heart"></i></a>
                <!-- <a (click)="addFavourite()" *ngIf="!favouriteItem"><i class="fa-regular fa-heart"></i></a> -->
                <!-- <a (click)="addFavourite()" *ngIf="favouriteItem"><i class="fa-solid fa-heart"></i></a> -->
                <a (click)="addToCart(item.id)"><i class="ri-shopping-cart-line"></i></a>
            </div>
            <div class="productListImage">
                <img [src]="item.productImage" alt="Item Image">
            </div>
            <hr>
            <div class="productListDescription">
                <p id="brand">{{item.productBrand}}</p>
                <p id="name">{{item.productName}}</p>
                
                <div class="price" *ngIf="item.productSaleprice">
                    <p id="salePrice">{{item.productSaleprice | currency:'INR':'symbol-narrow':'.2-2'}}</p>
                    <p id="mrp" style="text-decoration: line-through;">{{item.productMrp | currency:'INR':'symbol-narrow':'.2-2'}}</p>
                </div>
                <div class="price" *ngIf="!item.productSaleprice">
                    <!-- <p id="salePrice">{{item.salePrice | currency:'INR':'symbol-narrow':'.2-2'}}</p> -->
                    <p id="mrp" style="font-size: 1.2rem;">{{item.productMrp | currency:'INR':'symbol-narrow':'.2-2'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>