.userForms{
    background-image: './assets/background.png';
    margin-top: 12rem;
    /* padding: 1rem; */
    /* height: 90%; */
}

.signUpContainer{
    /* border: 1px solid black; */
    height: auto;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 2rem; */
    padding: 0;
}

.signUpContainer h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding-top: 1rem;
}

.signUpContainer form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.signUpContainer input{
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    border-bottom: 0.1rem ridge crimson;
}

.name{
    display: flex;
    flex-direction: column;
}

.inputfields{
    display: flex;
    gap: 2rem;
}

.fname{
    display: flex;
    flex-direction: column;
}

.lname{
    display: flex;
    flex-direction: column;
}

.contactDetails{
    display: flex;
    flex-direction: column;
}

.email{
    display: flex;
    flex-direction: column;
}

.mobile{
    display: flex;
    flex-direction: column;
}

.details{
    display: flex;
    gap: 2rem;
}

.password{
    display: flex;
    gap: 2rem;
}

.inputs{
    position: relative;
}

.inputs i{
    position: absolute;
    right: 0.3rem;
    top: 0.1rem;
}

.role{
    height:2rem;
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 auto;
    padding: 0 auto;
}

.role span{
    margin: 0;
    padding: 0;
}

.radioContent{
    display: flex;
    gap: 1.5rem;
}

.radioBtn{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.customer{
    display: flex;
    align-items: center;
}

.seller{
    display: flex;
    align-items: center;
}

.admin{
    display: flex;
    align-items: center;
}

.role p{
    font-size: 1.3rem;
    font-weight: 600;
}

form a{
    padding: 0;
}


/* Login Form Styles */

.loginContainer{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin: auto;
    width: fit-content;
    padding: 1rem 2rem;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginContainer form{
    display: flex;
    flex-direction: column;
}

.loginContainer input{
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    border-bottom: 0.1rem ridge crimson;
}

.loginEmail{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1.3rem 0;
}

.loginPassword{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1.3rem 0;

}

button{
    background: crimson;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    margin: 0.5rem 0;
    box-shadow: 0.3rem 0.2rem lightgray;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}
.loginInputs{
    position: relative;
}

.loginInputs i{
    position: absolute;
    right: 0;
}

.test {
    display: flex;
    justify-content: flex-start;
}

.firstName{
    display: flex;
    flex-direction: column;
    /* text-decoration: line-through; */
}

.lastName{
    display: flex;
    flex-direction: column;
}


input{
    outline: none;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0;
}

.loginContainer h1{
    margin-bottom: 0;
    padding-bottom: 0;
}