.formContainer{
    height:30rem;
    width: 40rem;
    /* border: 1px solid black; */
    margin: auto;
}

.heading{
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    margin: auto;
    align-items: center;
    width: 80%;
    /* gap:0 10rem; */
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* width: 80%; */
}

.fields{
    display: flex;
    flex-direction: column;
    /* margin: 0 3rem; */
}

label{
    margin-top: 1rem;
    font-size: 1.5rem;
}

input,select{
    font-size: 1.5rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid crimson;
    width: 35vw;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.submit{
    display: flex;
    justify-content: center;
}

button{
    color: white;
    background-color: crimson;
    padding: 0.75rem;
    font-size: 1.5rem;
    margin-top: 2rem;
}

span{
    font-size: 1rem;
    margin-top: 1rem;
}