<div class="defualtNavbar">
    <div class="logo">
        <img src="./assets/logo.png" alt="Logo Image">
    </div>
    <div class="menuOptions">
        <ul class="menuList">
            <li routerLink="buyerHome"><a routerLink="buyerHome">Home</a></li>
            <li routerLink="adminHome"><a routerLink="adminHome">Admin Home</a></li>
            <li routerLink="sellerHome"><a routerLink="/sellerHome">Seller Home</a></li>
            <li (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></li>
        </ul>
    </div>
</div>