
<!-- Carousel Element -->
<div class="carousel">
    <div class="carouselContainer">
        <a (click)="prev()" id="left"><i class="fa-solid fa-chevron-left"></i></a>
        <div class="text">
            <p>{{carouselArr[currentIndex]?.text | titlecase}}</p>
        </div>
        <div class="image">
            <img [src]="carouselArr[currentIndex]?.image" [alt]="carouselArr[currentIndex]">
            <!-- <img src="./assets/product1.jpeg" alt="Carousel Image"> -->
        </div>
        <a (click)="next()" id="right"><i class="fa-solid fa-chevron-right"></i></a>
    </div>
</div>



<!-- Categories Elements -->

<div class="categories">
    <div class="header"><h1>List of Categories</h1></div>
    <div class="listCategory">
        <ul class="container">
            <li *ngFor="let category of categories" id="items"><img [src]="category.image" alt=""> <p id="productName">{{category.name | titlecase}}</p> <p id="productCount">Products: {{category.productCount}}</p></li>
        </ul>
    </div>
</div>

<!-- Trnding This Week -->
<div class="trendingWeek">
    <div class="weekHeader">
        <h2>Top Trending This Week</h2>
        <a routerLink="productList"><small>View All</small></a>
    </div>
    <hr>
    <div class="weekContent">
        <div class="weekItems" *ngFor="let item of topTrending">
            <div class="discount" *ngIf="item.discount">- {{item.discount}}%</div>
            <div class="actions">
                <a (click)="addFavourite()"><i class="fa-regular fa-heart"></i></a>
                <!-- <a (click)="addFavourite()" *ngIf="!favouriteItem"><i class="fa-regular fa-heart"></i></a> -->
                <!-- <a (click)="addFavourite()" *ngIf="favouriteItem"><i class="fa-solid fa-heart"></i></a> -->
                <a (click)="addToCart(item.id)"><i class="ri-shopping-cart-line"></i></a>
            </div>
            <div class="weekImage">
                <img [src]="item.image" alt="Item Image">
            </div>
            <hr>
            <div class="weekDescription">
                <p id="brand">{{item.brand}}</p>
                <p id="name">{{item.name}}</p>
                <!-- <div class="rating">
                    <a href="#"><i class="fa-regular fa-star"></i></a>
                    <a href="#"><i class="fa-regular fa-star"></i></a>
                    <a href="#"><i class="fa-regular fa-star"></i></a>
                    <a href="#"><i class="fa-solid fa-star"></i></a>
                    <a href="#"><i class="fa-solid fa-star"></i></a>
                </div> -->
                <div class="price" *ngIf="item.salePrice">
                    <p id="salePrice">{{item.salePrice | currency:'INR':'symbol-narrow':'.2-2'}}</p>
                    <p id="mrp" style="text-decoration: line-through;">{{item.mrp | currency:'INR':'symbol-narrow':'.2-2'}}</p>
                </div>
                <div class="price" *ngIf="!item.salePrice">
                    <!-- <p id="salePrice">{{item.salePrice | currency:'INR':'symbol-narrow':'.2-2'}}</p> -->
                    <p id="mrp" style="font-size: 1.2rem;">{{item.mrp | currency:'INR':'symbol-narrow':'.2-2'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Top Selling Products -->

<div class="topselling">
    <div class="topsellingHeader">
        <h2>Top Selling Products</h2>
        <a routerLink="productList"><small>View All</small></a>
    </div>
    <hr>
    <div class="topsellingContent">
        <div class="topsellingItems" *ngFor="let item of topSelling">
            <div class="discount" *ngIf="item.discount">- {{item.discount}}%</div>
            <div class="actions">
                <a (click)="addFavourite()"><i class="fa-regular fa-heart"></i></a>
                <!-- <a (click)="addFavourite()" *ngIf="!favouriteItem"><i class="fa-regular fa-heart"></i></a> -->
                <!-- <a (click)="addFavourite()" *ngIf="favouriteItem"><i class="fa-solid fa-heart"></i></a> -->
                <a (click)="addToCart(item.id)"><i class="ri-shopping-cart-line"></i></a>
            </div>
            <div class="topsellingImage">
                <img [src]="item.image" alt="Item Image">
            </div>
            <hr>
            <div class="topsellingDescription">
                <p id="brand">{{item.brand}}</p>
                <p id="name">{{item.name}}</p>
                <!-- <p style="color: black;">{{item.id}}</p> -->
                <!-- <div class="rating">
                    <a href="#"><i class="fa-regular fa-star"></i></a>
                    <a href="#"><i class="fa-regular fa-star"></i></a>
                    <a href="#"><i class="fa-regular fa-star"></i></a>
                    <a href="#"><i class="fa-solid fa-star"></i></a>
                    <a href="#"><i class="fa-solid fa-star"></i></a>
                </div> -->
                <div class="price" *ngIf="item.salePrice">
                    <p id="salePrice">{{item.salePrice | currency:'INR':'symbol-narrow':'.2-2'}}</p>
                    <p id="mrp" style="text-decoration: line-through;">{{item.mrp | currency:'INR':'symbol-narrow':'.2-2'}}</p>
                </div>
                <div class="price" *ngIf="!item.salePrice">
                    <!-- <p id="salePrice">{{item.salePrice | currency:'INR':'symbol-narrow':'.2-2'}}</p> -->
                    <p id="mrp" style="font-size: 1.2rem;">{{item.mrp | currency:'INR':'symbol-narrow':'.2-2'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- Footer -->

<app-footer id="footer"></app-footer>