<app-navbar></app-navbar>


<!-- Carousel Element -->
<div class="carousel">
    <div class="carouselContainer">
        <a (click)="prev()" id="left"><i class="fa-solid fa-chevron-left"></i></a>
        <div class="text">
            <p>{{carouselArr[currentIndex].text}}</p>
        </div>
        <div class="image">
            <img [src]="carouselArr[currentIndex].image" [alt]="carouselArr[currentIndex]">
            <!-- <img src="./assets/product1.jpeg" alt="Carousel Image"> -->
        </div>
        <a (click)="next()" id="right"><i class="fa-solid fa-chevron-right"></i></a>
    </div>
</div>



<!-- Categories Elements -->

<div class="categories">
    <div class="head">
        <h2>Categories</h2>
        <a href="#"><small>ViewAll</small></a>
    </div>
    <ul class="categotyList">
        <div class="categoryItem">
            <li *ngFor="let category of categories"><img [src]="category.image" alt="category.altText"> <p id="categoryName">{{category.name | titlecase}}</p> <p id="productCount" >Product Count is: {{category.productCount}}</p></li>
        </div>
    </ul>
</div>




